/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #F9FAFB;
}

/* Container */
.container {
    display: flex;
    width: 100%;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #003744;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 2;
}

.sidebar.hidden {
    transform: translateX(-220px); /* Move sidebar off-screen */
    position: absolute;
}

/* Hamburger Icon */
.hamburger-icon {
    margin-right: 15px; /* Adds space between the hamburger icon and Dashboard / Trips */
    font-size: 24px;
    color: #cad0d3;
    cursor: pointer;
    z-index: 3; /* On top of everything */
}

.hamburger-icon:hover {
    color: #c1ced6;
}

/* Navigation styles */
.nav ul {
    list-style-type: none;
}

.nav ul li a {
    color: #ECEFF1;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin: 10px 0;
}

.nav ul li a:hover {
    background-color: #c1ced6;
    padding-left: 10px;
    border-radius: 4px;
}

footer {
    margin-top: auto;
    font-size: 12px;
    color: #B0BEC5;
}

footer a {
    color: #B0BEC5;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

/* Main Content */
.main-content {
    width: calc(100% - 250px);
    padding: 20px;
    background-color: #F5F6F7;
    position: relative;
    transition: margin-left 0.3s ease;
}

.sidebar.hidden + .main-content {
    margin-left: 0; /* Full width when sidebar is hidden */
}

/* Top Bar with Full Width Background */
.top-bar-fullwidth {
    padding: 10px 20px;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
}

/* Top Bar */
.top-bar {
    background-color: #003744;
    padding: 10px 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb {
    font-size: 14px;
}

.top-icons {
    display: flex;
    gap: 20px;
}

.top-icons span {
    cursor: pointer;
}

.top-icons span:hover {
    color: #FFEB3B; /* Hover color for icons */
}

.trips-header h1 {
    margin-top: 10px;
    font-size: 24px;
}

.active-page {
    padding: 10px; /* Optional: add padding for better touch targets */
    border: 1px solid #ddd; /* Optional: similar styling as buttons */
}

.nav ul li a.active-page {
    background-color: #E1F5FE; /* Light blue background to indicate active page */
    color: #2196F3; /* Blue text color */
    font-weight: bold; /* Make the text bold */
    padding-left: 15px;
    border-radius: 4px;
}

.main-content-dashboard {
    width: calc(100% - 250px);
    padding: 20px;
    background-color: #F5F6F7;
}

@media (max-width: 768px) {
    .sidebar {
        width: 180px; /* Adjust sidebar width */
    }
    .main-content {
        margin-left: 0; /* Remove margin for smaller screens */
    }
    .hamburger-icon {
        margin-right: 10px; /* Reduce margin for smaller screens */
    }
}

/* Root Variables */
:root {
    --primary-color: #003744;
    --secondary-color: #E1F5FE;
    --text-color: #3b3b3b;
    --hover-color: #FFEB3B;
}

/* Release Notes */
.release-notes {
    background-color: #eaeded;
    color: #015a66;
    padding: 10px;

    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.release-notes h2 {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    color:  #015a66;
}

.release-notes .date {
    font-size: 12px;
    color: #616161;
    margin-left: 10px;
}

.release-notes button {
    background-color: #015a66;
    color: white;
    border: none;
    border-color: #002e36;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 10px auto;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

.release-notes button:hover {
    background-color: #FFCDD2;
    color: #C62828;
}

/* Welcome Section */
.welcome-section h2{
    background-color: #eaeded;
    color: #015a66;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}

.welcome-section {
    background-color: white;
    color: #002e36;
    padding: 5px;
    margin-bottom: 1px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-left, .welcome-right {
    width: 45%;
}

.welcome-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-driver-btn, .add-user-btn {
    background-color: #E0E0E0;
    color: #333;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
}

/* Main Content Section */
.main-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.trips-section, .load-board {
    background-color: #FFFFFF;
    color: #002e36;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.trips-section {
    width: 65%;
}

.trips-section h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.trip-columns {
    display: flex;
    justify-content: space-between;
}

.trip-column {
    text-align: center;
    flex-grow: 1;
}

.trip-column h3 {
    font-size: 14px;
    margin-bottom: 5px;
    color: #616161;
}

.trip-column p {
    font-size: 36px;
    font-weight: 300;
    color: #9E9E9E;
    margin: 10px 0;
}

.trip-column p.has-attention {
    color: #f59a23;
    font-weight: 500;
}

.trip-column button {
    background-color: #F1F1F1;
    color: #212121;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
}

/* Load Board Section */
.load-board {
    width: 42%;
    text-align: center;
}

.load-board h2 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #616161;
}

.load-board .location {
    font-size: 16px;
    font-weight: 300;
    color: #002e36;
}

.load-board .count {
    font-size: 30px;
    font-weight: bold;
    color: #002e36;
}

/* Performance and Payments Section */
.performance-payments-section {
    display: flex;
    justify-content: space-between;
}

.performance, .payments {
    background-color: #FFFFFF;
    color: #002e36;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 48%;
}

.performance h2, .payments h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.performance p {
    font-size: 14px;
    margin-bottom: 5px;
}

.performance h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.payments .total {
    font-size: 24px;
    font-weight: bold;
    color: #212121;
}

.payments .net-balance {
    font-size: 16px;
    color: #757575;
}

.paymentsChart {
    background-color: #F5F5F5;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 100%;
    height: 150px;
}
/* Flexbox Layout for Displaying Multiple Columns */
.main-content .columns {
    display: flex;
    flex-wrap: wrap;
}

.columns > div {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

.columns > div:last-child {
    margin-right: 0;
}

/* Dropdown styles */
.dropdown {
    position: relative;
}

.dropdown-toggle {
    color: #ECEFF1;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin: 10px 0;
    cursor: pointer;
}

.dropdown-toggle .arrow {
    margin-left: 5px;
    font-size: 12px;
}

.dropdown-menu {
    display: none; /* Initially hidden */
    background-color: #003744;
    padding: 10px;
    list-style-type: none;
    width: 100%;
}

.dropdown-menu li {
    margin-bottom: 10px;
}

.dropdown-menu li a {
    color: #ECEFF1;
    text-decoration: none;
    padding-left: 10px;
}

.dropdown-menu li a:hover {
    background-color: #c1ced6;
    border-radius: 4px;
}

.dropdown.active .dropdown-menu {
    display: block; /* Show dropdown when active */
}

.dropdown-toggle .arrow.open {
    transform: rotate(180deg); /* Rotate arrow when dropdown is open */
}
